body {
  margin: 0px;
}
.dashboarddiv {
  display: flex;
  gap: 1em;
}
.dashboarddiv > * {
  flex-basis: 100%;
}

.leftup {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.leftup > * {
  flex-basis: 100%;
}